.pokemon-site-continer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pokemon-image-site img {
  width: 300px;
  height: 300px;
}
.pokemon-type-image-site img {
  width: 60px;
  height: 60px;
}
.pokemon-type-image-site div img {
  display: inline;
}
.pokemon-site-continer h2 {
  padding-top: 40px;
}
.pokemon-type-image-site ul   {
    list-style: none;
    padding-left: 0;
   
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  @media screen and (min-width: 768px) {
    .pokemon-site-continer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px; 
    }
  
    .pokemon-image {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center; 
      align-items: center; 
    }
  
    .pokemon-image img {
      max-width: 100%; 
      max-height: 100%; 
      object-fit: contain;
    }
  }
  
  
  @media screen and (max-width: 767px) {
    .pokemon-site-continer {
      display: block;
    }
  
    .pokemon-image {
      width: 100%; 
      height: auto; 
    }
  
    .pokemon-image img {
      width: 100%; 
      height: auto; 
    }
  }
  