/*pokemon.scss*/

.pokemon-site-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}

.pokemon-site-container header {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
}

.pokemon-site-container main {
  flex: 0 0 55%;
}

.pokemon-image-site img {

  height: 400px;
  width: 400px;

}

.pokemon-type-image-site,
article {
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;

}

.pokemon-type-image-site ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.type {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.type figure {
  display: inline-block;
  margin-right: 10px;
}

.type img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .pokemon-site-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .pokemon-site-container header,
  .pokemon-site-container main {
    flex: 1;
    width: 100%;
    max-width: 100%;
  }

  .pokemon-site-container header h1 {
    font-size: 28px;
    padding-top: 5px;
  }

  .pokemon-site-container header {
    padding-bottom: 20px;

  }

  .pokemon-image-site img {
    height: 300px;
    width: 300px;
  }

  .type img {
    width: 30px;
    height: 30px;
  }
}


