/*header.scss*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:  #f0f0f0;
  color: white;
  padding: 20px 20px;
  margin: 5px;
  color: black;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  height: 50px;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover {
  text-decoration: none;
}

header h1 {
  font-size: 30px;
  margin: 0;
}

header h3 {
  font-size: 25px;
  margin: 0 20px;
}

.SearchBar {
  margin-left: auto;
}



@media screen and (max-width: 768px) {
  header {
    display: block;
    padding: 5px;
    margin: 5px 5px;
  }

  nav ul {

    align-items: center;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  header h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  header h3 {
    margin: 10px;
    font-size: 20px;
  }
}