.pokemon-card, .type-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.pokemon-card:hover, .type-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pokemon-card img, .type-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
